# Игнорируем исполняемые файлы, которые создает Go при компиляции
*.exe
*.exe~
*.bin

# Игнорируем папки, которые создает Go или система
bin/
pkg/
tmp/

# Игнорируем служебные файлы и настройки IDE (GoLand, VSCode)
.idea/
.vscode/
*.swp
*.swo

# Игнорируйте эту строку, если у вас нет модулей
# go.sum